@{
    ViewData["Title"] = "Admin nadzorna plošča";
}

<h2>Admin nadzorna plošča</h2>

<ul>
    <li><a href="/Izdelek/Index">Upravljanje izdelkov</a></li>
    <li><a href="/Narocilo/Index">Pregled vseh naročil</a></li>
</ul>
