@{
    ViewData["Title"] = "Domov";
}

<h1>Dobrodošli v spletni trgovini z elektroniko!</h1>
<p>
    Oglejte si <a href="/Izdelek/Index">našo ponudbo izdelkov</a> ali dodajte izdelke v <a href="/Kosarica/Index">košarico</a>.
</p>
@if (Context.Session.GetString("Uporabnik") == null)
{
    <p><a class="btn btn-primary" href="/Uporabnik/Prijava">Prijavi se</a></p>
}
